$color-primary: #ff6600;
$color-seccond: blue;

// Background color
$bg-pink-1: #fdf2f8;
$bg-pink-2: #f4daea;

// Color
$color-pink-1: #a50064;
$color-white-1: #ffffff;
$color-gray-1: #837d7d;
$color-black-1: #343434;
$color-yellow-1: #ddbc3f;
$color-yellow-2: #f5c518;
$color-red-1: #d5302c;

// Font size
$fs-1: 1rem;
